.header{
  width: 100%;
  padding-left: 1.4rem;
  padding-right: 1.4rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;

  background-color: var(--primary-color);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (max-width: 768px){
  .header{
    justify-content: center;

  }
}
